version: "3.4"
services:
  postgres:
    restart: always
    image: postgres:12
    environment:
      POSTGRES_USER: {{ disk_pg_user }}
      POSTGRES_PASSWORD: {{ disk_pg_password }}
      POSTGRES_DB: {{ disk_pg_dbname }}
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data

  disk:
    restart: always
    image: {{ disk_image }}
    command: disk-api
    ports:
      - 80:8081
    environment:
      DISK_PG_URL: postgresql://{{ disk_pg_user }}:{{ disk_pg_password }}@postgres/{{ disk_pg_dbname }}
